/* Animations
--------------------------------------------- */

 /* Fade-in descendant */
 @keyframes fadeInDown {
    from {
      opacity: 0;
      transform: translateY(-100px); /* Décalé de 100px en haut */
    }
    to {
      opacity: 1;
      transform: translateY(0); /* Position initiale */
    }
  }
  
  /* Fade-in ascendant */
  @keyframes fadeInUp {
    from {
      opacity: 0;
      transform: translateY(100px); /* Décalé de 100px en bas */
    }
    to {
      opacity: 1;
      transform: translateY(0); 
    }
  }

   /* Rotation des fleurs */
   @keyframes rotateFlower {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
  }
  
  /* Fade-in ascendant + rotation des fleurs */
  @keyframes fadeInUpRotate {
  from {
    opacity: 0;
    transform: translateY(100px) rotate(0deg); /* Départ avec translation et rotation */
  }
  to {
    opacity: 1;
    transform: translateY(0) rotate(360deg); /* Fin avec rotation complète et translation à 0 */
  }
  } 
  
  /* Flottement du logo */
  @keyframes float {
    0%, 100% {
      transform: translate(0, 0);
    }
    20%, 60% {
      transform: translate(5px, -5px);
    }
    40%, 80% {
      transform: translate(-5px, 5px);
    }
  }
  
 
  